aux/
gtb\.xpr
target\.test/*
!target\.test/README

target\.dev/
target/

*.magweg

*.bak

*.xpr

target\.sterculijn/

maak-sterculijn\.sh

lzx-help2html\.xslt

#vscode editor files
/.vscode

generate-gtb-html-files/sourceme

scripts/

# IntelliJ
.idea

saxonee
