@font-face{
    font-family: gtb;
    src: url('../fonts/INLVRG__.TTF') format('truetype');
}

@font-face{
    font-family: gtb;
    src: url('../fonts/INLVI___.TTF') format('truetype');
    font-style: italic;
}

@font-face{
    font-family: gtb;
    src: url('../fonts/INLVB___.TTF') format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: gtb;
    src: url('../fonts/INLVBI__.TTF') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'schoolboek';
    src: url('../fonts/Schoolboek-Regular.eot');
    src: url('../fonts/Schoolboek-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Schoolboek-Regular.woff') format('woff'), url('../fonts/Schoolboek-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}


body {
    font-family: verdana, helvetica, sans-serif, gtb;
}

/* background image, style via pseudo-element omdat we zo transparantie kunnen zetten in oudere browsers */
body:before {
    content: " ";
    
    background-color: #FFF;
    background-image: url(../img/gtb-logo.svg);
    background-repeat: no-repeat;
    
    opacity: 0.04;
    z-index: -1000;
    
    position: fixed;
    width: 100%;
    height: 100%;
    left: 15%;
    top: 10%;
}

.zoek-formulier{
 }

.formuliertitel{
    font-weight: bold;
    font-size: larger;
}

.formulierregel {
    margin-bottom: 8px;
}

.formulierlabel{
    margin-bottom: 3px;
}

.formulierinput {
    
}

.gtb-bronselectors,
.gtb-resultaatformaatselectors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gtb-bronselectors .gtbcheckbox {
    margin: 0px 10px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
}
.gtb-resultaatformaatselectors .gtbradio {
    margin: 0px 10px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
}

.formulierinput .form-control[type=text] {
    height: 30px;
    padding: 4px 8px;
}

.formulierinput .btn {
    padding: 4px 10px;
}

.helpregel {
    margin-top: 35px;
}
.modal-title {
    color: #111971;    
}

.gtb-modal-body {
    height: 60vh;
    overflow-y: auto;
}

.gtb-disabled{
    opacity: 0.5;
    cursor: wait;
}

.gtb-wait{
    z-index: 2000;
    position: absolute;
    /*  De percentages zijn een grove benadering. */
    background-color: transparent;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.gtb-waiticon:before{
    font-family: "Glyphicons Halflings";
    content: "î€±";
}

.gtb-waiticon{
    -webkit-animation-name: tolletje;
            animation-name: tolletje;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction:normal;
            animation-direction:normal;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

@-webkit-keyframes tolletje {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes tolletje {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.gtb-tekstveld, .gtb-selectveld{
    font-family: Verdana, sans-serif, gtb;
}

.gtb-woordsoortveld{
    display: inline;
}

div.speciaalteken {
    margin: 10px 0px 20px 0px;
}

table.speciaalteken,
td.speciaalteken{
    font-family: Verdana, sans-serif, gtb;
}

table.speciaalteken {
    table-layout: fixed; 
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}

td.speciaalteken{
    width: 1px; /* arbitrair, is meer een soort noemer over de deler van het totaal aantal width in de rij voor fixed layout tables */
    padding: 3px;
    text-align: center;
    cursor: pointer;
    /* bootstrap inputs nadoen */
    border: 1px solid #CCC!important; /*  bootstrap override het een en ander */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

td.speciaalteken:hover{
    background-color: #EEE;
}

td.speciaalteken:active{
    background-color: #DDD;
    -webkit-box-shadow: inset 0px 1px 6px -1px rgba(0,0,0,0.3);
            box-shadow: inset 0px 1px 6px -1px rgba(0,0,0,0.3);
}

.gtbcheckbox, .gtbradio{
}

#resultaathouder {
    /* background-color: rgba(255,255,255,0.8);*/
    background: transparent;
}

.gtb-resultaatknoppen {
   margin-top: 1em;
   margin-bottom: 1em; 
}

.gtb-zoek-button {
}

/* We gebruiken een eigen class in plaats van die van Bootstrap om te zorgen dat we beide namen kunnen gebruiken zonder eventuele gekoppelde GTB-logica in XSLT of Javascript te verstoren.  */
.gtb-hidden{
    display: none;
}

.gtb-inspring {
    padding-left: 15px;
}

.woordsoorttable{
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-style: dotted;
    border-width: 1px;
    width: 80%;
}

.gtb-xml-error{
    background-color: yellow;
    font-family:monospace;
    font-size: smaller;
}

.gtb-statcount{
    font-weight: bold;
}

div.gtb-zoekvragen-geschiedenis {
    min-height: 40vh;
    max-height: 40vh;
    overflow:auto;
}

.gtb-zoekvraag-description{
    font-size: smaller;
}

.gtb-input-value {
    font-weight: bold;
}

.gtb-results i{
    font-family: Verdana, sans-serif, gtbi;
}

.gtb-results b{
    font-family: Verdana, sans-serif, gtbb;
}

.gtb-results i b,
.gtb-results b i{
    font-family: Verdana, sans-serif, gtbbi;
}

.gtb-results{
    font-family: Verdana, sans-serif, gtb;
    margin-bottom: 35px;
    overflow-x: auto;
}

.gtb-results-head {
    border-bottom: 2px solid #DDD;
    /* inline-flex expands to fit children, whereas regular flex expands to parent 
    Since the idea is to overflow our parent on purpose, flex wouldn't make sense. */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
    -ms-flex-wrap: nowrap; 
        flex-wrap: nowrap;
    font-weight: bold;
    margin-bottom: 6px;
    min-width: 100%;
}

.gtb-results-body {
    /* Same as with .gtb-results-head, overflow parent on purpose */
    display: inline-block;
    /* dit zodat de tabel meeschaalt met je schermgrootte, moet aangepast als de andere content op de pagina drastisch verandert */
    max-height: calc(100vh - 475px);
    min-height: 300px;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y:auto;
}

.gtb-result-row {
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.gtb-result-row:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

.gtb-results-head > div,
.gtb-result-row > div {
    overflow: hidden;
    text-overflow: ellipsis;
}
.gtb-results-head {
    /* match body scrollbar */
    padding-right: 17px; 
}

.gtb-wdbcol-anders {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 8em;
            flex: 1 0 8em;
    min-width: 8em;
}

.gtb-wdbcol-line,
.gtb-wdbcol-hits,
.gtb-wdbcol-wdb {
   -webkit-box-flex: 0;
       -ms-flex: none;
           flex: none;
   width: 4em;
}

.gtb-wdbcol-modern_lemma,
.gtb-wdbcol-lemma,
.gtb-wdbcol-verbinding {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 7em;
            flex: 1 0 7em;
    max-width: 15em;
    min-width: 7em;
}

.gtb-wdbcol-woordsoort {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 8em;
            flex: 1 0 8em;
    max-width: 12em;
    min-width: 8em;
}

.gtb-wdbcol-auteur,
.gtb-wdbcol-van,
.gtb-wdbcol-locatie {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 15em;
            flex: 1 0 15em;
    max-width: 20em;
    min-width: 15em;
}
.gtb-wdbcol-titel {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50em;
}
.gtb-wdbcol-datering,
.gtb-wdbcol-lokalisering {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 10em;
}

.gtb-wdbcol-betekenis,
.gtb-wdbcol-kopsectie,
.gtb-wdbcol-citaat {
    -webkit-box-flex: 3;
        -ms-flex: 3 0 10em;
            flex: 3 0 10em;
    min-width: 10em;
}

.gtb-wdbcol-conc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32em;
            flex: 0 0 32em;
    min-width: 32em;
}

.gtb-conc-line {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.gtb-conc-voor {
    display: inline-block;
    width: 15em;
    overflow: hidden;
    vertical-align: top;
}
/* inner span to cut off overflow on the left side without using text direction rtl, 
as it causes issues issues with brackets and punctuation being repositioned within the text */
.gtb-conc-voor > span {
    display: block;
    float: right;
}

.gtb-conc-zoekwoord {
    display: inline-block;
    width: auto;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    vertical-align: top;
}
.gtb-conc-na {
    display: inline-block;
    width: 15em;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
}


.gtb-cell-reduced,
.gtb-cell-expanded {
    line-height: 1.42858; /* 20 / 14, so 20px for font-size 14px */
    font-size: 14px;
    min-height: 60px; /*  3 lines */
    cursor: pointer;
}

.gtb-cell-reduced {
    height: 60px!important;
    overflow-y: auto!important;
}

.gtb-cell-expanded {
    height: auto!important;
}



.gtb-wdb-onw,
.gtb-wdb-vmnw,
.gtb-wdb-mnw,
.gtb-wdb-wnt,
.gtb-wdb-wft {
    font-weight: bold;
}


ul.gtb-list-subject-level2 li {
    margin-left: 1em;
}

.gtb-pagineringsknoppen{
    float: right;
    line-height: 0; /* fix voor random extra height van container door whitespace in source */
}
.resultaatknop {
    margin-top: 1.5em;
}

/*  Verberg de resultaatknoppen in de auxiliaries-sectie, maar toon ze wanneer ze worden opgeroepen in de content. */
.auxiliaries > .gtb-resultaatknoppen {
    display: none;
}

.gtb-typeahead-word {
    font-weight: bold;
}

.gtb-typeahead-wdb {
    font-style: italic;
    padding-left: 4em;
    float: right;
}

#help-subjects > p:first-child {
    margin-top: 20px;
    height: 36px;
    position: relative;
}

#help-subjects > p:first-child > a:first-child {
    position: absolute;
    bottom: 0px;
}

#partners {
    background: white;
    border-top: 2px solid #ddd;
    margin-top: 40px;
    padding: 12px 15px;
    text-align: center;
}
#partners > a {
    display: inline-block;
}

/* Bootstrap */

.tab-content {
    margin: 25px 15px;
}

.form-horizontal .checkbox-inline {
    vertical-align: baseline;
}

.pagination {
    margin: 0px;
    line-height: 0; /* fix voor random extra height van container door whitespace in source */
}

.pagination > li {
    display: inline-block;
}

.pagination > li > ul {
    /* geen float, anders wordt de baseline van de button anders en aligned de boel niet meer met andere buttons */
    /* Alleen opletten dat we geen whitespace tussen closers en openers hebben in de html... zie https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    float: none;
    display: inline-block;
}

/* tabs */
.nav-tabs {
    border-bottom: none!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.nav-tabs > li {
    border: none!important;
    padding: 0px!important;
    margin: 0px!important;
    border-bottom: 2px solid #ddd!important;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.nav-tabs > li:after {
    display: block;
    content: " ";
    
    background-color: white;
    opacity: 0;
    
    height: 2px;
    margin-bottom: -2px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    
    -webkit-transition: all 250ms ease 0s;
    
    transition: all 250ms ease 0s;
}

.nav-tabs > li:hover:after,
.nav-tabs > li:active:after,
.nav-tabs > li:focus:after,
.nav-tabs > li.active:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    background-color: #111971;
    opacity: 1;
}

.nav-tabs>li>a {
    border: none!important;
    margin: 0px!important;
    padding: 10px 4px!important;
    background: transparent!important;
    
    display: block;
    
    color: #666;
    text-align:center;
}

/* 
 * Maak ruimte voor bold text door een invisible elementje te maken met daarin de alvast gebolde text
 * op basis van de title attribute
 * Dit zodat de tabjes niet breder worden bij hoveren omdat de text bold (en daarmee breder) wordt 
 */
.nav-tabs > li > a::before {
  content: attr(title);
  display: block;
  font-weight: bold;
  height: 1px;
  margin-top: -1px;
  color: transparent;
  opacity: 0;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    color: #111971;
}

/* collapse */

/* Disable sliding effect van collapse */
.collapsing {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-transition-property: none;
    transition-property: none;
}

/* 
 * Zorg dat margins van alle child elementen binnen onze collapse wrapper blijft, en niet collapsed met elementen buiten de wrapper.
 * 
 * Waarom? nou, terwijl een bootstrap collapse element aan het in/uitklappen is, heeft hij overflow:hidden
 * Dit is logisch omdat het collapsen alleen maar de height naar 0px schaalt en dan display:none doet.
 * Als het zou kunnen overflowen zou je het collapsen niet kunnen zien.
 * 
 * Een bij-effect hiervan is dat de margins van het bovenste/onderste child in het collapse element tijdens het in/uitklappen
 * niet langer overlappen met de margins van elementen boven/onder de container. 
 * Dit zorgt er voor dat wanneer zo'n overlap groter is dan een paar px, 
 * de boel tijdelijk verspringt tijdens het in/uitklappen.
 * 
 * Hiermee kunnen we zorgan dat die margins in de eerste plaats al niet overlappen
 * gewoon altijd overflow:hidden zetten is een andere manier van dit doen, maar dan is je overflow weer niet zichtbaar meer
 * en overflowen is wel handig om dingen als carets voor child collapsibles over de linkerkant van de container laten hangen. 
 */
.gtb-collapse {
    padding-left: 15px;
}

.gtb-collapse-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.gtb-collapse-label > a {
    position: relative;
}
.gtb-collapse-label > a > .fa {
    position: relative;
    left: -15px;
    width: 0px;
    overflow: visible;
}
.gtb-collapse-label > a[aria-expanded="true"] > .fa-caret-right {
    display: none;
}
.gtb-collapse-label > a:not([aria-expanded="true"]) > .fa-caret-down {
    display: none;
}

/*  woordsoorten */
.gtb-woordsoort-container {
    padding-left: 15px;
}

.gtb-woordsoort.checkbox-inline {
    display: block;
    color: #111971;
    position: relative;
    left: -16px;
    padding-left: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.gtb-woordsoort > input[type="checkbox"] {
    margin-left: -16px;
}
.gtb-woordsoort.checkbox-inline+.gtb-woordsoort.checkbox-inline {
    margin-left: 0px;
    margin-top: 3px;
}

.gtb-collapse .gtb-woordsoort.checkbox-inline {
    left: auto;
    color: #333;
    font-weight: normal;
    margin-bottom: 0px;
}

a.gtb-selecteer-woordsoortgroep.off:before {
    content: 'alles aanvinken';
}

a.gtb-selecteer-woordsoortgroep.on:before {
    content: 'alles uitvinken ';
}

/* header */

.gtb-header {
    background-color: #00042E;
    font-family: "schoolboek";
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: auto;
    
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.15);
}

.gtb-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 15px;
    max-width: 1170px;
    margin: 0px auto;
}

.gtb-header-logo-container {
    width: 20%;
    max-width: 175px;
    display: block;
}
.gtb-header-logo  {
    height: auto;
    width: 90%;
    float: right;
}

.gtb-header-logo-int {
    height: auto;
    width: 100%;
    float: left;
}

.gtb-header-title-container {
    color: #EEE;
    font-size: 40px;
    line-height: 80%;
    text-align: center;
}

.gtb-header-title {
    
}
.gtb-header-subtitle {
    font-size: 60%;
    color: #ddd;
}

@media (max-width: 997px) {
    .gtb-header-title-container {
        font-size: 4.1vw;
    }
}


/* colors */
.gtb-header {
    background-color: #00042E;
}
.btn-primary {
    background-color: #111971;
    border-color: #111971;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #0e155d!important;
    border-color: #0e155d!important;
}
.btn-primary:active {
    background-color: #0b1047!important;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #111971;
    font-weight: bold;
}
.nav-tabs > li > a::after {
    background-color: #111971;
}

.list-group > .list-group-item {
    color: #111971;
}
.list-group > .list-group-item > a:hover {
    font-weight: bold;
}
.list-group > .list-group-item.active {
    background-color: #111971;
    font-weight: bold;
}
.list-group > .list-group-item.active > a {
    color: white;
}
.list-group > .list-group-item:first-child {
    border-radius: 0px;
}

a,
a:hover,
a:focus {
    color: #111971;
}

.pagination>li>a,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span,
.pagination>li>span:hover,
.pagination>li>span:focus{
    color: #111971;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span
.pagination>.active>span:hover,
.pagination>.active>span:focus {
    background-color: #111971;
    border-color: #111971;
}

.dropdown-item {
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
    background-color: #111971;
}

/* footer */

.gtb-footer {
    font-size: 90%;
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 0.6em;
    text-align: center;
}